# --------------------------------------- #
#     C2C's Universal Editor Config       #
# - - - - - - - - - - - - - - - - - - - - #
#  Version  : 1.0                         #
#  Author   : Luke Chavers                #
#  Created  : Monday, Jan 26th, 2015      #
#  Based On : https://editorconfig.org    #
# - - - - - - - - - - - - - - - - - - - - #
#     http://git.c2c.local/snippets/4     #
# - - - - - - - - - - - - - - - - - - - - #
#  EditorConfig helps developers define   #
#  and maintain consistent coding styles  #
#   between different editors and IDEs    #
# --------------------------------------- #

# -- General Settings ------------------- #

root = true

# -- All Files (Defaults) --------------- #

[*]

indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# -- Markdown Files --------------------- #

[*.md]
trim_trailing_whitespace = false